<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.txd.hzj.wjlp">

    <!-- ShareSDK添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--Android_8.0+请求安装包权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--读取手机联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 改变网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 环信权限 ↓ -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- GCM required, remember replace "com.hyphenate.chatuidemo" to your own package -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.txd.hzj.wjlp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.txd.hzj.wjlp.permission.C2D_MESSAGE" />

    <permission
        android:name="com.txd.hzj.wjlp.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />
    <!-- com.hyphenate.chatuidemo -->
    <uses-permission android:name="com.txd.hzj.wjlp.permission.MIPUSH_RECEIVE" />

    <!-- 百度地图 权限 Begin -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 百度地图 权限 End -->


    <!-- 环信权限 ↑ -->


    <!-- 极光推送 极光推送 极光推送 极光推送 极光推送 极光推送 权限BEGIN -->


    <!-- Required -->
    <permission
        android:name="com.txd.hzj.wjlp.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.txd.hzj.wjlp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 测试提交 LH -->
    <!-- 极光推送 极光推送 极光推送 极光推送 极光推送 极光推送 权限END -->
    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@mipmap/wjyp2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode"
        tools:replace="icon,theme,allowBackup">
        <!--android:theme="@style/styleSplashImage"-->
        <!--tools:replace="icon,label,theme,allowBackup"-->

        <!-- Glide缓存 -->
        <meta-data
            android:name="com.ants.theantsgo.GlideCache"
            android:value="GlideModule"
            tools:node="remove" />

        <!-- <meta-data -->
        <!-- android:name="com.txd.hzj.wjlp.tool.GlideConfiguration" -->
        <!-- android:value="GlideModule" /> -->

        <!--android7.0拍照 需要注册FileProvider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <!-- 百度地图 Begin -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="b1UKT3NV7vCEPFWojdSA3DESUIuixKgK" />

        <!-- 百度地图 End -->
        <!-- 首页启动界面 android:name=".MainAty" -->
        <activity
            android:name=".startPage.GuidanceAty"
            android:theme="@style/styleSplashImage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx95d5b24e8f08761a" />
            </intent-filter>
        </activity>
        <!-- APP主页 -->
        <activity android:name=".MainAty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wujie" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->
        <activity android:name=".startPage.GuidePageAty" />
        <!-- 线上商城分类(1-1-1 首页 2) -->
        <activity android:name=".mellonLine.MellOnLineClassifyAty" />
        <!-- 子分类(1-1-2)二级分类 -->
        <activity android:name=".mellonLine.SubclassificationAty" />
        <!-- 分类 (1-2) -->
        <activity android:name=".mellonLine.AllClassifyAty" />
        <!-- 搜索 -->
        <activity android:name=".mellonLine.SearchAty" />
        <!-- 商品列表 -->
        <activity android:name=".mellonLine.GoodsListAty" />
        <!--分销店铺管理首页-->
        <!-- 店铺管理首页 -->
        <activity
            android:name=".distribution.shopaty.ShopMain"
            android:launchMode="singleTop" />
        <!--分销店铺设置-->
        <activity
            android:name=".distribution.shopaty.ShopSetUp"
            android:launchMode="singleTop" />
        <!--分销店铺顾客管理-->
        <activity
            android:name=".distribution.shopaty.ShopPersonManage"
            android:launchMode="singleTop" />
        <!--分销店铺订单管理-->
        <activity
            android:name=".distribution.shopaty.ShopOrderManage"
            android:launchMode="singleTop" />
        <!-- 商家列表 -->
        <activity
            android:name=".mellonLine.MellListAty"
            android:theme="@style/AppTheme" />
        <!-- 消息 -->
        <activity android:name=".mellonLine.MessageAty" />
        <!-- 消息列表 -->
        <activity android:name=".mellonLine.OrderAndInformMessageListAty" />
        <!-- 公告详情 -->
        <activity android:name=".mellonLine.NoticeDetailsAty" />
        <!-- 限量购 -->
        <activity android:name=".mellonLine.gridClassify.LimitShoppingAty" />
        <!-- 限量购详情 -->
        <activity android:name=".mellonLine.gridClassify.LimitGoodsAty" />
        <!-- 分类 -->
        <activity android:name=".mellonLine.gridClassify.TicketZoonAty" />
        <!-- 票券详情 -->
        <activity android:name=".mellonLine.gridClassify.TicketGoodsDetialsAty" />
        <!-- 拼团详情 -->
        <activity android:name=".mellonLine.gridClassify.GoodLuckDetailsAty" />
        <!-- 主题街 -->
        <activity android:name=".mellonLine.gridClassify.ThemeStreetHzjAty" />
        <!-- 主题街商品列表 -->
        <activity android:name=".mellonLine.gridClassify.ThemeGoodsListAty" />
        <!-- 主题街商品详情 -->
        <activity android:name=".mellonLine.gridClassify.ThemeGoodsDetailsAty" />

        <!-- 汽车购 -->
        <activity android:name=".mellonLine.gridClassify.car.CarChenAty" />
        <activity android:name=".mellonLine.gridClassify.car.CarCommodityChenAty" />
        <!-- 房产购 -->
        <activity android:name=".mellonLine.gridClassify.hous.HousChenAty" />
        <!-- 房产购详情 -->
        <activity android:name=".mellonLine.gridClassify.hous.HousDetailsChenAty" />
        <!-- 一元夺宝 -->
        <activity android:name=".mellonLine.gridClassify.snatch.SnatchChenAty" />

        <!-- 商品属性选择 -->
        <activity
            android:name=".mellonLine.gridClassify.GoodsAttributeAty"
            android:launchMode="singleTask"
            android:theme="@style/share_style" />
        <!-- 商品评价 -->
        <activity android:name=".mellonLine.gridClassify.GoodsEvaluateAty" />
        <!-- 分享 -->
        <activity
            android:name=".mellonLine.gridClassify.ToShareAty"
            android:theme="@style/share_style" />
        <!-- 店铺详情 -->
        <activity android:name=".mellonLine.gridClassify.MellInfoAty" />
        <!-- 进口馆列表 -->
        <activity android:name=".mellonLine.gridClassify.GoodsInputHzjAty" />
        <!-- 进口馆商品详情 -->
        <activity android:name=".mellonLine.gridClassify.InputGoodsDetailsAty" />
        <!-- 竞拍 -->
        <activity android:name=".mellonLine.gridClassify.AuctionCollectAty" />
        <!-- 竞拍详情 -->
        <activity android:name=".mellonLine.gridClassify.AuctionGoodsDetailsAty" />

        <!-- 无界头条 -->
        <activity android:name=".mellonLine.WujieTopHzjAty" />
        <!-- 扫一扫 -->
        <activity android:name=".mellonLine.ScanAty" />
        <!-- 设置 -->
        <activity android:name=".minetoaty.setting.SetAty" />
        <!-- 个人信息 -->
        <activity android:name=".minetoaty.setting.EditProfileAty" />
        <!-- 修改当前密码 -->
        <activity android:name=".minetoaty.setting.EditLoginPasswordAty" />
        <!-- 修改支付密码 -->
        <activity android:name=".minetoaty.setting.EditPayPasswordAty" />
        <!-- 实名认证 -->
        <activity android:name=".minetoaty.RealnameAty" />
        <!-- 绑定手机 -->
        <activity android:name=".minetoaty.setting.BindPhoneAty" />
        <!-- 绑定新手机 -->
        <activity android:name=".minetoaty.setting.BindNewPhoneAty" />
        <!-- 关于我们 -->
        <activity android:name=".minetoaty.AboutOursAty" />
        <!-- 帮助中心 -->
        <activity android:name=".minetoaty.help.NewHelpCenterAty" />
        <!-- 注册设置密码 -->
        <activity android:name=".login.RegisterSetPwdAty" />
        <!-- 位置 -->
        <activity android:name=".mellonLine.gridClassify.hous.FindHouseByMapAty" />
        <!-- 户型详情 -->
        <activity android:name=".mellonLine.gridClassify.hous.HouseTypeDetailsHzjAty" />
        <!-- 登录注册 -->
        <activity
            android:name=".login.LoginAty"
            android:launchMode="singleTop" />
        <!-- 忘记密码 -->
        <activity android:name=".login.FindPwgBackHzjAty" />
        <!-- 重置密码 -->
        <activity android:name=".login.ReSetPwdAty" />
        <!-- 绑定账号 -->
        <activity android:name=".login.BindAccountAty" />
        <!-- 注册获取验证码 -->
        <activity android:name=".login.RegisterGetCodeAty" />
        <!-- 线上商城 -->
        <activity
            android:name=".minetoaty.order.OnlineShopAty"
            android:launchMode="singleTask" />
        <!-- 订单中心 -->
        <activity android:name=".minetoaty.order.OrderCenterAty" />
        <!-- 线下商城店铺详情 -->
        <activity
            android:name=".melloffLine.OffLineDetailsAty"
            android:launchMode="singleTop" />
        <!-- 竞拍纪录 -->
        <activity android:name=".minetoaty.AuctionRecordAty" />
        <!-- 会员成长，会员等级 -->
        <activity android:name=".minetoaty.GradeOfMemberAty" />
        <!-- 支付 -->
        <activity android:name=".minetoaty.PayForAppAty" />
        <!-- 购物券 -->
        <activity android:name=".minetoaty.tricket.MyCouponAty" />
        <!-- 明细 -->
        <activity android:name=".minetoaty.tricket.ParticularsUsedByTricketAty" />
        <!-- 积分 -->
        <activity android:name=".minetoaty.tricket.IntegralAty" />
        <!-- 积分转余额 -->
        <activity android:name=".minetoaty.tricket.ExchangeMoneyAty" />
        <!-- 注册码 -->
        <activity
            android:name=".minetoaty.dialog.RegistrationCodeAty"
            android:theme="@style/share_style" />
        <!-- 拜师码 -->
        <activity
            android:name=".minetoaty.dialog.ApprenticeCodeAty"
            android:theme="@style/share_style" />
        <!-- 余额 -->
        <activity android:name=".minetoaty.balance.BalanceAty" />
        <!-- 余额充值 -->
        <activity android:name=".minetoaty.balance.RechargeAty" />
        <!-- 线下充值，选择银行卡 -->
        <activity android:name=".minetoaty.balance.BankInfoForReChargeAty" />
        <!-- 银行卡列表 -->
        <activity android:name=".minetoaty.balance.BankCardHzjAty" />
        <!-- 汽车购商品详情 -->
        <activity android:name=".mellonLine.gridClassify.CarDetailseAty" />
        <!-- 添加银行卡 -->
        <activity android:name=".minetoaty.balance.AddBankCardAty" />
        <!-- 线下充值明细 -->
        <activity android:name=".minetoaty.balance.RechargeOffLineAty" />
        <!-- 我的卡券包 -->
        <activity android:name=".minetoaty.coupon.CouponHzjAty" />
        <!-- 订单详情 -->
        <activity android:name=".minetoaty.order.OrderDetailsAty" />
        <!-- 商品评价 -->
        <activity android:name=".minetoaty.order.EvaluationReleaseAty" />
        <!-- 申请售后 -->
        <activity android:name=".minetoaty.order.ApplyForAfterSalesAty" />
        <!-- 物流，退货原因等等界面 -->
        <activity android:name=".minetoaty.order.TextListAty" />
        <!-- 一元夺宝详情 -->
        <activity android:name=".minetoaty.order.GoodLuckOrderDetailsAty" />
        <!-- 地址列表 -->
        <activity android:name=".minetoaty.address.AddressListAty" />
        <!-- 添加地址 -->
        <activity android:name=".minetoaty.address.AddNewAddressAty2" />
        <!-- 添加地址再用 -->
        <!-- 意见反馈 -->
        <activity android:name=".minetoaty.feedback.FeedBackAty" />
        <!-- 分享给好友 -->
        <activity android:name=".minetoaty.ShareToFriendsAty" />
        <!-- 工作成绩 -->
        <activity android:name=".minetoaty.myGrade.ShareGradeAty" />
        <!-- 城市选择 -->
        <activity android:name=".citySelect.CitySelectAty" />
        <!-- 分享次数 -->
        <activity android:name=".minetoaty.myGrade.ShareTimesAty" />
        <!-- 我的推荐 -->
        <activity android:name=".minetoaty.myGrade.RecommendSuccessAty" />
        <!-- 我的收藏 -->
        <activity android:name=".minetoaty.collect.CollectHzjAty" />
        <!-- 足迹 -->
        <activity android:name=".minetoaty.FootprintAty" />
        <!-- 商家入驻 -->
        <activity android:name=".minetoaty.mellInto.MerchantWillMoveIntoAty" />
        <!-- 福利社 -->
        <activity android:name=".popAty.WelfareServiceAty" />
        <!-- 福利社，拿红包 -->
        <activity
            android:name=".popAty.GetRedPackageAty"
            android:theme="@style/share_style" />
        <!-- 上市孵化 -->
        <activity android:name=".popAty.WJHatchAty" />
        <!-- 孵化详情 -->
        <activity android:name=".popAty.HatchDetailsAty" />
        <!-- 提交订单 -->
        <activity
            android:name=".shoppingCart.BuildOrderAty"
            android:launchMode="singleTop" />
        <!-- 一元夺宝详情 -->
        <activity android:name=".mellonLine.gridClassify.snatch.SnatchGoodsDetailsAty" />

        <!-- 无界书院 -->
        <activity android:name=".minetoaty.books.BooksAty" />
        <!-- 无界驿站 -->
        <activity android:name=".melloffLine.point.PointWjAty" />
        <!-- 线下商店详情 -->
        <activity android:name=".melloffLine.OffLineMellInfoAty" />
        <!-- 商家设置 -->
        <activity android:name=".minetoaty.mell.MellSettingAty" />
        <!-- 编辑商家信息 -->
        <activity android:name=".minetoaty.mell.EditMellInfoAty" />
        <!-- 进货，销货列表 -->
        <activity android:name=".minetoaty.mell.StockRecordAty" />
        <!-- 商品列表 -->
        <activity android:name=".minetoaty.mell.MellGoodsListAty" />
        <!-- 商品二维码 -->
        <activity
            android:name=".minetoaty.mell.QRCodeForMellGoodsAty"
            android:theme="@style/share_style" />
        <!-- 商家地址选择 -->
        <activity android:name=".citySelect.MellCitySelectAty" />
        <!-- 推荐列表 -->
        <activity android:name=".minetoaty.mellInto.MellIntoListAty" />
        <!-- 举报商家得红包 -->
        <activity android:name=".melloffLine.MellReportedAty" />
        <!-- 商家资质 -->
        <activity android:name=".melloffLine.MellAptitudeAty" />
        <!-- 转账给用户 -->
        <activity android:name=".minetoaty.balance.TransferAccountsAty" />
        <!-- 推荐详情 -->
        <activity android:name=".minetoaty.mellInto.MellIntoInfoAty" />

        <!-- 环信聊天界面 -->
        <activity android:name=".huanxin.ui.ChatActivity" />
        <!-- 环信查看图片 -->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />
        <activity android:name=".huanxin.ui.ContextMenuActivity" />
        <activity android:name=".huanxin.ui.UserProfileActivity" />
        <activity android:name=".huanxin.ui.PickAtUserActivity" />
        <activity android:name=".huanxin.ui.ForwardMessageActivity" />
        <activity android:name=".huanxin.ui.PickContactNoCheckboxActivity" />
        <activity android:name=".new_wjyp.InvoiceAty2" />

        <!-- 重置支付密码 -->
        <activity android:name=".minetoaty.setting.ResetPayPwdAty" />
        <!-- 第二步 -->
        <activity android:name=".minetoaty.setting.ResetPayPwdSecAty" />
        <!-- 书院详情 -->
        <activity android:name=".minetoaty.books.BooksDetailsAty" />
        <!-- 省市区选择 -->
        <!-- 拼团购开团 -->
        <activity android:name=".mellonLine.gridClassify.CreateGroupAty" />
        <!-- 拼团购三级分类商品列表 -->
        <activity android:name=".mellonLine.gridClassify.groupbuy.GroupBuyThirdAty" />

        <!-- 无界预购三级分类商品列表 -->
        <activity android:name=".mellonLine.gridClassify.prebuy.PreBuyThirdAty" />

        <!--线下店铺支付界面-->
        <activity android:name=".melloffLine.PaymentAty" />
        <!--线下店铺支付结果界面-->
        <activity android:name=".melloffLine.PaymentResultsAty" />
        <!--三方收款账户-->
        <activity android:name=".minetoaty.ThirdPartAccountAty" />

        <!-- 网页H5展示以及交互 -->
        <activity android:name=".webviewH5.WebViewAty" />

        <!-- 环信相关服务等 ↓ BEGIN -->
        <!-- 开机自启动服务 -->
        <receiver android:name=".huanxin.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm ←→ start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".huanxin.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />

                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>
        <!-- gcm ←→ end -->

        <!-- 小米推送 ←→ begin -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米推送 ←→ end -->

        <!-- 华为推送 ←→ 第三方相关 :接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <receiver
            android:name="com.hyphenate.chat.EMHuaweiPushReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>

            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics" />
        </receiver>

        <!-- PushSDK:PushSDK接收外部请求事件入口 -->
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:exported="true"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>

        <!-- PushSDK:Push服务 -->
        <service
            android:name="com.huawei.android.pushagent.PushService"
            android:process=":pushservice" />

        <!-- 华为推送 ←→ end -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ广播！ -->
            <intent-filter>
                <data android:scheme="tencent1106399064" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博广播！ -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- 城市列表 -->
        <activity
            android:name=".cityselect1.ac.activity.SortCityActivity"
            android:windowSoftInputMode="adjustPan" />

        <!-- 环信相关服务等 ↓ BEGIN -->
        <!-- 开机自启动服务 -->
        <receiver android:name=".huanxin.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>


        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1132170721115445#wjyp" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 友盟统计配置Appkey与Channel -->
        <!-- value的值填写你在友盟后台申请的应用Appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a727a08b27b0a4a2900003b" />
        <!-- value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- umeng appkey，可忽略 -->
        <!-- 友盟统计的暂时忽略 -->
        <!-- 友盟统计的暂时忽略 -->
        <!-- 友盟统计的暂时忽略 -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="56aefe07e0f55a250d001a7c" /> -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="hyphenate" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="3ecea51f560650b1ed8a4b99808f52e8" /> -->


        <!-- fabric start -->
        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="6b54bd4edc63eba3ef59d69f8e0a5070bea384e2" /> -->
        <!-- fabric end -->


        <!-- 环信相关服务等 ↑ END -->


        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- android:screenOrientation="portrait" -->


        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ客户端回调 2.6.3开始独立添加activity来处理QQ客户端的回调 -->
        <activity
            android:name="cn.sharesdk.tencent.qq.ResultReceiver"
            android:launchMode="singleTask"
            android:noHistory="true" />

        <!-- ShareSDK相关 -->


        <!-- 友盟统计 -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="5a727a08b27b0a4a2900003b" /> -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_CHANNEL" -->
        <!-- android:value="Umeng" /> -->
        <!-- 友盟统计 -->


        <!-- Jpush(极光推送)BEGIN -->


        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.txd.hzj.wjlp" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.txd.hzj.wjlp" />
            </intent-filter>
        </activity>
        <!-- 搭配购 -->
        <activity android:name=".new_wjyp.Collocations_aty" />
        <!-- 实名认证 -->
        <activity android:name=".new_wjyp.Authentication_aty" />
        <!-- 房产和车辆的订单 -->
        <activity android:name=".new_wjyp.Submit_order_aty" />
        <activity android:name=".new_wjyp.Pay_aty" />
        <!-- 蓝色代金券转账页面 -->
        <activity android:name=".minetoaty.GiveCouponAccounts" />
        <!-- 蓝色代金券详情 -->
        <activity android:name=".minetoaty.GiveCouponAty" />
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.txd.hzj.wjlp.DataProvider"
            android:exported="true" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.txd.hzj.wjlp" />
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.txd.hzj.wjlp.DownloadProvider"
            android:exported="true" />

        <!-- Required SDK核心功能 -->

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.txd.hzj.wjlp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="com.txd.hzj.wjlp.jpush.CUSTOMIZE_MY_MSG" /> <!-- 自定义Action -->
                <category android:name="com.txd.hzj.wjlp" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.txd.hzj.wjlp" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="8ca752e9c56ad02dc93990f9" /> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- Jpush(极光推送)END -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 汽车购详情 -->
        <activity android:name=".new_wjyp.CarOrderInfo" />
        <!-- 提交评价 -->
        <activity android:name=".new_wjyp.Comment_aty" />
        <!-- 评价主页 -->
        <activity android:name=".new_wjyp.Commentindex_aty" />
        <!-- 售后列表 -->
        <activity android:name=".new_wjyp.After_aty" />
        <!-- 售后快递 -->
        <activity android:name=".new_wjyp.Addshipping_aty" />
        <!-- 比较记录的详情 -->
        <activity android:name=".new_wjyp.AuctionRecordAty" />
        <activity android:name=".minetoaty._GradeOfMemberAty" />
        <!-- 联盟商家申请 -->
        <activity android:name=".new_wjyp.UnionmerchartAty" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- 这个intent-filter不要忘了 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxc971edce6f70ca57" />
            </intent-filter>
        </activity>
        <!-- 商家推荐 -->
        <activity android:name=".new_wjyp.BusinessRecommendAty" />
        <!-- 代理加盟 -->
        <activity android:name=".new_wjyp.Mine2_aty" />
        <!-- 拓展商 拓展员 联盟商家 -->
        <activity android:name=".wjyp.WebViewAty" />
        <!-- 拓展商申请 -->
        <activity android:name=".wjyp.ExpandBusinessAty" />
        <!-- 拓展商 -->
        <activity android:name=".wjyp.ApplyAty" />
        <!-- 支付成为拓展商 -->
        <activity android:name=".wjyp.PayVipAty" />
        <activity android:name=".wjyp.TZSAty" />
        <!-- 代金券申请 -->
        <activity android:name=".wjyp.GetTicketAty" />
        <!-- 平台代金券审核 -->
        <activity android:name=".wjyp.TerraceTicketCheckAty" />
        <!-- 审核详情 -->
        <activity android:name=".wjyp.DetailsAty" />
        <activity android:name=".wjyp.MyTicketAty" />
        <!-- 代金券审核 -->
        <activity android:name=".wjyp.MyTicketCheckAty" />
        <!-- 代金券发放记录 || 联盟商家列表 -->
        <activity android:name=".wjyp.RecordAty" />
        <!-- 推荐商家审核 -->
        <activity android:name=".wjyp.MerchantCheckAty" />
        <!-- 审核详情 -->
        <activity android:name=".wjyp.MerchantCheckDetailsAty" />
        <!-- 物料申请 -->
        <activity android:name=".wjyp.MaterialApplyAty" />
        <!-- 数量类型 -->
        <activity android:name=".wjyp.TypeNumberAty" />
        <activity android:name=".wjyp.PersonnelManagementAty" />
        <activity android:name=".wjyp._PersonnelManagementAty" />
        <!-- 蓝色代金券使用明细 -->
        <activity android:name=".minetoaty.tricket.ParticularsUserCouponAty" />
        <!-- 拓展员添加 -->
        <activity android:name=".wjyp.AddRecordAty" />
        <!-- 编辑拓展员 -->
        <activity android:name=".wjyp.EditPresMangAty" />
        <!-- 选择所属拓展员 -->
        <activity android:name=".wjyp.ChoosePresMangAty" />
        <activity android:name=".wjyp.OtherTicketAty" />
        <!-- 发放记录 -->
        <activity android:name=".wjyp.ReleaseRecordAty" />
        <!-- 详情 -->
        <activity android:name=".wjyp.ReleaseRecordDetailsAty" />
        <!-- 平台物料审核 -->
        <activity android:name=".wjyp.PlatformMaterialAuditAty" />
        <!-- 审核详情 -->
        <activity android:name=".wjyp.PlatformMaterialAuditDetailsAty" />
        <!--线下店铺详情-->
        <activity android:name=".melloffLine.ShopMallDetailsAty" />
        <!-- 下级物料审核 -->
        <activity android:name=".wjyp.LowerMaterialAuditAty" />
        <activity android:name=".wjyp.ExpandTheMemberAty" />
        <activity android:name=".wjyp.LMSJAty" />
        <!-- 无界驿站升级 -->
        <activity android:name=".wjyp.ApplyPostAty" />
        <!-- 会员详情 -->
        <activity android:name=".new_wjyp.VipDetailsAty" />
        <!-- 购买会员卡支付界面 -->
        <activity android:name=".new_wjyp.VipPayAty" />
        <!-- 线下店铺商家推荐 -->
        <activity android:name=".wjyp.PushMerchantAty" />
        <!-- 发票选择界面 -->
        <activity android:name=".new_wjyp.InvoiceAty" />
        <!-- 订单物流 -->
        <activity android:name=".minetoaty.OrderLogisticsAty" />
        <!-- 会员卡 -->
        <activity android:name=".minetoaty.order.VipCardAty" />
        <!-- 会员卡详情页 -->
        <activity android:name=".minetoaty.order.VipCardDetailsAty" />
        <!--线上充值明细-->
        <activity android:name=".minetoaty.order.OnlineChongDetailsAty" />

        <!-- 快递物流详情 -->
        <activity android:name=".minetoaty.ExpressAtv" />
        <!-- 拼单购订单详情 -->
        <activity android:name=".minetoaty.order.CollageDetailsAty" />
        <activity android:name=".distribution.ApplyForShop" />
        <activity android:name=".distribution.shopaty.ShopExhibit" />
        <activity android:name=".distribution.shopaty.ShopGoodsManage" />
        <activity android:name=".distribution.shopaty.ShopRevenue"></activity>
        <activity android:name=".minetoaty.order.OffLineShopAty" />
        <activity android:name=".minetoaty.order.OffLineShopDetailsAty" />
        <!--线下店铺搜索列表页-->
        <activity android:name=".melloffLine.MellOffLineListAty" />
        <activity android:name=".melloffLine.OffLineEvaluationShopAty" />
        <activity android:name=".melloffLine.OffLineEvaluationShopListAty" />
        <activity android:name=".new_wjyp.FreeRenew" />
        <activity android:name=".melloffLine.ShopMallAty" />
        <activity android:name=".distribution.shopaty.ShopGiveYellowVoucher" />
        <activity android:name=".minetoaty.tricket.TradingStampAty" />
        <activity android:name=".mellonLine.gridClassify.giveawayarea.GiveAwayAreaAty" />
        <activity android:name=".mellonLine.gridClassify.giveawayarea.GiveAwayDetailsAty" />
        <activity android:name=".minetoaty.tricket.TradingStampDetailsAty" />
        <activity android:name=".mellonLine.gridClassify.PosterAty" />

        <!-- 蓝牙搜索界面 -->
        <activity android:name=".bluetoothPrint.SearchBluetoothAty" />
        <activity android:name=".mellonLine.gridClassify.ExplosiveAreaAty" />
        <activity android:name=".mellonLine.gridClassify.ExplosiveAreaGoodsDetialsAty" />
        <activity android:name=".mellonLine.gridClassify.LuckRakingListAty" />
        <activity android:name=".minetoaty.SilverCoinAty" />
        <activity android:name=".minetoaty.tricket.DetailsOfSilverAty" />
        <activity android:name=".minetoaty.storemanagement.CommodityManagementAty" />

        <activity android:name=".minetoaty.storemanagement.ClassifyManageAty" />
        <activity android:name=".minetoaty.storemanagement.InputAty" />
        <activity android:name=".minetoaty.storemanagement.MultipleSpecificationsAty" />
        <activity android:name=".minetoaty.storemanagement.AttributesSecondAty" />
        <activity android:name=".minetoaty.storemanagement.AttributesFirstAty" />
        <activity android:name=".minetoaty.storemanagement.DateRangeAty" />
        <activity android:name=".minetoaty.storemanagement.WeekRangeAty" />
        <activity android:name=".minetoaty.friendsofmerchant.MyFriendsAty" />
        <activity android:name=".minetoaty.friendsofmerchant.ChangeMembersAty" />
        <activity android:name=".minetoaty.friendsofmerchant.ChangeMsgDetailsAty" />
        <activity android:name=".minetoaty.friendsofmerchant.NewFriendAty" />
        <activity android:name=".minetoaty.friendsofmerchant.SetExchangeConditionsAty" />
        <activity android:name=".minetoaty.friendsofmerchant.ChooseShopKeeperAty" />
        <activity android:name=".minetoaty.friendsofmerchant.AddShopOwnerAty" />
        <activity android:name=".minetoaty.friendsofmerchant.BusinessFriendDataAty" />
        <activity android:name=".minetoaty.friendsofmerchant.AddFriendAty" />
        <activity android:name=".minetoaty.friendsofmerchant.ScreeningConditionsAty" />
        <activity android:name=".minetoaty.friendsofmerchant.ScreeningResultAty" />
        <activity android:name=".minetoaty.friendsofmerchant.GroupManagementAty" />
        <activity android:name=".minetoaty.friendsofmerchant.GroupManageDetailsAty" />
        <activity android:name=".minetoaty.friendsofmerchant.NotAddFriendAty" />
        <activity android:name=".clearinventory.ClearInventoryAty" />
        <activity android:name=".clearinventory.ConsignmentAty" />>

        <!-- 抓娃娃界面 -->
        <!-- 游戏币界面 -->
        <activity android:name=".catchDoll.ui.activity.CatchDollMainActivity" />
        <!-- 游戏币界面 -->
        <activity android:name=".catchDoll.ui.activity.MoneyActivity" />
        <!-- 抓中记录界面 -->
        <activity android:name=".catchDoll.ui.activity.GrabTheRecordActivity" />
        <!-- 银两变动记录 -->
        <activity android:name=".catchDoll.ui.activity.MoneyRecordingActivity" />
        <!-- 主界面导航：新品上线、高价精品、只爱娃娃、美女专场、实用专区 -->
        <activity android:name=".catchDoll.ui.activity.NewOnlineActivity" />
        <!-- 关注 -->
        <activity android:name=".catchDoll.ui.activity.AttentionActivity" />
        <!-- 我的娃娃 -->
        <activity android:name=".catchDoll.ui.activity.MyDollActivity" />
        <!-- 商品详情界面 -->
        <activity android:name=".catchDoll.ui.activity.DollGoodsInfoActivity" />
        <!-- 兑换记录 -->
        <activity android:name=".catchDoll.ui.activity.RedemptionRecordActivity" />
        <!-- 游戏记录 -->
        <activity android:name=".catchDoll.ui.activity.GameRecordingActivity" />
        <!-- 游戏记录详情界面 -->
        <activity android:name=".catchDoll.ui.activity.GameRecordingInfoActivity" />
        <!-- 申诉列表界面 -->
        <activity android:name=".catchDoll.ui.activity.AppealActivity" />
        <!-- 游戏房间 -->
        <activity android:name=".catchDoll.ui.activity.GameRoomActivity" />
        <!-- 好友助力界面 -->
        <activity android:name=".catchDoll.ui.activity.FriendBoostActivity" />
        <!-- 转盘助力抽奖界面 -->
        <activity android:name=".catchDoll.ui.activity.LotteryActivity" />
        <!-- 视频播放（回放）界面 -->
        <activity android:name=".catchDoll.ui.activity.VideoPlayerActivity" />
        <!-- 玩家列表 -->
        <activity android:name=".catchDoll.ui.activity.PlayerPeopleListActivity" />
        <!-- TA的娃娃 -->
        <activity android:name=".catchDoll.ui.activity.OnePeoplesDollActivity" />
        <activity android:name=".catchDoll.ui.activity.CatcherAdderssAty" />

    </application>

</manifest>