<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.txd.hzj.wjlp">

    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <!-- 改变网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.ants.theantsgo.WeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup">
        <activity android:name=".MainAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 线上商城分类(1-1-1 首页 2) -->
        <activity android:name=".mellOnLine.MellOnLineClassifyAty"/>
        <!-- 子分类(1-1-2)二级分类 -->
        <activity android:name=".mellOnLine.SubclassificationAty"/>
        <!-- 分类 (1-2) -->
        <activity android:name=".mellOnLine.AllClassifyAty"/>
        <!-- 搜索 -->
        <activity android:name=".mellOnLine.SearchAty"/>
        <!-- 商品列表 -->
        <activity android:name=".mellOnLine.GoodsListAty"/>
        <!-- 商家列表 -->
        <activity
            android:name=".mellOnLine.MellListAty"
            android:theme="@style/AppTheme"/>
        <!-- 消息 -->
        <activity android:name=".mellOnLine.MessageAty"/>
        <!-- 消息列表 -->
        <activity android:name=".mellOnLine.OrderAndInformMessageListAty"/>
        <!-- 公告详情 -->
        <activity android:name=".mellOnLine.NoticeDetailsAty"/>
        <!-- 限量购 -->
        <activity android:name=".mellOnLine.gridClassify.LimitShoppingAty"/>
        <!-- 限量购详情 -->
        <activity android:name=".mellOnLine.gridClassify.LimitGoodsAty"/>
        <!-- 分类 -->
        <activity android:name=".mellOnLine.gridClassify.TicketZoonAty"/>
        <!-- 票券详情 -->
        <activity android:name=".mellOnLine.gridClassify.TicketGoodsDetialsAty"/>
        <!-- 拼团详情 -->
        <activity android:name=".mellOnLine.gridClassify.GoodLuckDetailsAty"/>
        <!-- 主题街 -->
        <activity android:name=".mellOnLine.gridClassify.ThemeStreetHzjAty"/>
        <!-- 主题街商品列表 -->
        <activity android:name=".mellOnLine.gridClassify.ThemeGoodsListAty"/>
        <!-- 主题街商品详情 -->
        <activity android:name=".mellOnLine.gridClassify.ThemeGoodsDetailsAty"/>

        <!-- 汽车购 -->
        <activity android:name=".mellOnLine.gridClassify.car.CarChenAty"/>
        <activity android:name=".mellOnLine.gridClassify.car.CarCommodityChenAty"/>
        <!-- 房产购 -->
        <activity android:name=".mellOnLine.gridClassify.hous.HousChenAty"/>
        <activity android:name=".mellOnLine.gridClassify.hous.HousDetailsChenAty"/>
        <!-- 一元夺宝 -->
        <activity android:name=".mellOnLine.gridClassify.snatch.SnatchChenAty"/>

        <!-- 商品属性选择 -->
        <activity
            android:name=".mellOnLine.gridClassify.GoodsAttributeAty"
            android:theme="@style/share_style"/>
        <!-- 商品评价 -->
        <activity android:name=".mellOnLine.gridClassify.GoodsEvaluateAty"/>
        <!-- 分享 -->
        <activity
            android:name=".mellOnLine.gridClassify.ToShareAty"
            android:theme="@style/share_style"/>
        <!-- 店铺详情 -->
        <activity android:name=".mellOnLine.gridClassify.MellInfoAty"/>
        <!-- 进口馆列表 -->
        <activity android:name=".mellOnLine.gridClassify.GoodsInputHzjAty"/>
        <!-- 进口馆商品详情 -->
        <activity android:name=".mellOnLine.gridClassify.InputGoodsDetailsAty"/>
        <!-- 竞拍 -->
        <activity android:name=".mellOnLine.gridClassify.AuctionCollectAty"/>
        <!-- 竞拍详情 -->
        <activity android:name=".mellOnLine.gridClassify.AuctionGoodsDetailsAty"/>
        <!-- 无界头条 -->
        <activity android:name=".mellOnLine.WujieTopHzjAty"/>
        <!-- 扫一扫 -->
        <activity android:name=".mellOnLine.ScanAty"/>
        <!-- 设置 -->
        <activity android:name=".minetoAty.SetAty"/>
        <!-- 个人信息 -->
        <activity android:name=".minetoAty.EditProfileAty"/>
        <!-- 修改当前密码 -->
        <activity android:name=".minetoAty.EditLoginPasswordAty"/>
        <!-- 修改支付密码 -->
        <activity android:name=".minetoAty.EditPayPasswordAty"/>
        <!-- 实名认证 -->
        <activity android:name=".minetoAty.RealnameAty"/>
        <!-- 绑定手机 -->
        <activity android:name=".minetoAty.BindPhoneAty"/>
        <!-- 绑定新手机 -->
        <activity android:name=".minetoAty.BindNewPhoneAty"/>
        <!-- 关于我们 -->
        <activity android:name=".minetoAty.AboutOursAty"/>
        <!-- 帮助中心 -->
        <activity android:name=".minetoAty.HelpCenterAty"/>
        <!-- 注册设置密码 -->
        <activity android:name=".login.RegisterSetPwdAty"/>
        <!-- 位置 -->
        <activity android:name=".mellOnLine.gridClassify.hous.FindHouseByMapAty"/>
        <!-- 户型详情 -->
        <activity android:name=".mellOnLine.gridClassify.hous.HouseTypeDetailsHzjAty"/>
        <!-- 登录注册 -->
        <activity android:name=".login.LoginAty"/>
        <!-- 忘记密码 -->
        <activity android:name=".login.FindPwgBackHzjAty"/>
        <!-- 重置密码 -->
        <activity android:name=".login.ReSetPwdAty"/>
        <!-- 绑定账号 -->
        <activity android:name=".login.BindAccountAty"/>
        <!-- 注册获取验证码 -->
        <activity android:name=".login.RegisterGetCodeAty"/>
        <!-- 线上商城 -->
        <activity android:name=".minetoAty.order.OnlineShopAty"/>
        <!-- 订单中心 -->
        <activity android:name=".minetoAty.order.OrderCenterAty"/>
        <!-- 线下商城店铺详情 -->
        <activity android:name=".mellOffLine.OffLineDetailsAty"/>
        <!-- 竞拍纪录 -->
        <activity android:name=".minetoAty.AuctionRecordAty"/>
        <!-- 会员成长，会员等级 -->
        <activity android:name=".minetoAty.GradeOfMemberAty"/>
        <!-- 支付 -->
        <activity android:name=".minetoAty.PayForAppAty"/>
        <!-- 购物券 -->
        <activity android:name=".minetoAty.tricket.MyCouponAty"/>
        <!-- 明细 -->
        <activity android:name=".minetoAty.tricket.ParticularsUsedByTricketAty"/>
        <!-- 积分 -->
        <activity android:name=".minetoAty.tricket.IntegralAty"/>
        <!-- 积分转余额 -->
        <activity android:name=".minetoAty.tricket.ExchangeMoneyAty"/>
        <!-- 注册码 -->
        <activity
            android:name=".minetoAty.dialog.RegistrationCodeAty"
            android:theme="@style/share_style"/>
        <!-- 余额 -->
        <activity android:name=".minetoAty.balance.BalanceAty"/>
        <!-- 余额充值 -->
        <activity android:name=".minetoAty.balance.RechargeAty"/>
        <!-- 线下充值，选择银行卡 -->
        <activity android:name=".minetoAty.balance.BankInfoForReChargeAty"/>
        <!-- 银行卡列表 -->
        <activity android:name=".minetoAty.balance.BankCardHzjAty"/>
        <!-- 汽车购商品详情 -->
        <activity android:name=".mellOnLine.gridClassify.CarDetailseAty"/>
        <!-- 添加银行卡 -->
        <activity android:name=".minetoAty.balance.AddBankCardAty"/>
        <!-- 线下充值明细 -->
        <activity android:name=".minetoAty.balance.RechargeOffLineAty"/>
        <!-- 我的卡券包 -->
        <activity android:name=".minetoAty.coupon.CouponHzjAty"/>
        <!-- 订单详情 -->
        <activity android:name=".minetoAty.order.OrderDetailsAty"/>
        <!-- 商品评价 -->
        <activity android:name=".minetoAty.order.EvaluationReleaseAty"/>
        <!-- 申请售后 -->
        <activity android:name=".minetoAty.order.ApplyForAfterSalesAty"/>
        <!-- 物流，退货原因等等界面 -->
        <activity android:name=".minetoAty.order.TextListAty"/>
        <!-- 一元夺宝详情 -->
        <activity android:name=".minetoAty.order.GoodLuckOrderDetailsAty"/>
        <!-- 地址列表 -->
        <activity android:name=".minetoAty.address.AddressListAty"/>
        <!-- 添加地址 -->
        <activity android:name=".minetoAty.address.AddNewAddressAty"/>
        <!-- 意见反馈 -->
        <activity android:name=".minetoAty.FeedBackAty"/>
        <!-- 分享给好友 -->
        <activity android:name=".minetoAty.ShareToFriendsAty"/>
        <!-- 工作成绩 -->
        <activity android:name=".minetoAty.myGrade.ShareGradeAty"/>
        <!-- 城市选择 -->
        <activity android:name=".citySelect.CitySelectAty"/>
        <!-- 分享次数 -->
        <activity android:name=".minetoAty.myGrade.ShareTimesAty"/>
        <!-- 我的推荐 -->
        <activity android:name=".minetoAty.myGrade.RecommendSuccessAty"/>
        <!-- 我的收藏 -->
        <activity android:name=".minetoAty.collect.CollectHzjAty"/>
        <!-- 足迹 -->
        <activity android:name=".minetoAty.FootprintAty"/>
        <!-- 商家入驻 -->
        <activity android:name=".minetoAty.mellInto.MerchantWillMoveIntoAty"/>
        <!-- 福利社 -->
        <activity android:name=".popAty.WelfareServiceAty"/>
        <!-- 福利社，拿红包 -->
        <activity
            android:name=".popAty.GetRedPackageAty"
            android:theme="@style/share_style"/>
        <!-- 上市孵化 -->
        <activity android:name=".popAty.WJHatchAty"/>
        <!-- 孵化详情 -->
        <activity android:name=".popAty.HatchDetailsAty"/>
        <!-- 提交订单 -->
        <activity android:name=".shoppingCart.BuildOrderAty"/>
        <!-- 一元夺宝详情 -->
        <activity android:name=".mellOnLine.gridClassify.snatch.SnatchGoodsDetailsAty"/>
        <activity android:name=".minetoAty.books.BooksAty">
        </activity>
        <activity android:name=".mellOffLine.point.PointWjAty">
        </activity>
    </application>

</manifest>