<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.txd.hzj.wjlp">

    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name="com.ants.theantsgo.WeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 线上商城分类(1-1-1 首页 2) -->
        <activity android:name=".mellOnLine.MellOnLineClassifyAty"/>
        <!-- 子分类(1-1-2)二级分类 -->
        <activity android:name=".mellOnLine.SubclassificationAty"/>
        <!-- 分类 (1-2) -->
        <activity android:name=".mellOnLine.AllClassifyAty"/>
        <!-- 搜索 -->
        <activity android:name=".mellOnLine.SearchAty"/>
        <!-- 商品列表 -->
        <activity android:name=".mellOnLine.GoodsListAty"/>
        <!-- 商家列表 -->
        <activity
            android:name=".mellOnLine.MellListAty"
            android:theme="@style/AppTheme"/>
        <!-- 消息 -->
        <activity android:name=".mellOnLine.MessageAty"/>
        <!-- 消息列表 -->
        <activity android:name=".mellOnLine.OrderAndInformMessageListAty"/>
        <!-- 公告详情 -->
        <activity android:name=".mellOnLine.NoticeDetailsAty"/>
        <!-- 限量购 -->
        <activity android:name=".mellOnLine.gridClassify.LimitShoppingAty"/>
        <!-- 限量购详情 -->
        <activity android:name=".mellOnLine.gridClassify.LimitGoodsAty"/>
        <!-- 分类 -->
        <activity android:name=".mellOnLine.gridClassify.TicketZoonAty"/>
        <!-- 票券详情 -->
        <activity android:name=".mellOnLine.gridClassify.TicketGoodsDetialsAty"/>
        <!-- 拼团详情 -->
        <activity android:name=".mellOnLine.gridClassify.GoodLuckDetailsAty"/>
        <!-- 主题街 -->
        <activity android:name=".mellOnLine.gridClassify.ThemeStreetHzjAty"/>
        <!-- 主题街商品列表 -->
        <activity android:name=".mellOnLine.gridClassify.ThemeGoodsListAty"/>
        <!-- 主题街商品详情 -->
        <activity android:name=".mellOnLine.gridClassify.ThemeGoodsDetailsAty"/>

        <!-- 汽车购 -->
        <activity android:name=".mellOnLine.gridClassify.car.CarChenAty"/>
        <activity android:name=".mellOnLine.gridClassify.car.CarCommodityChenAty"/>
        <!-- 房产购 -->
        <activity android:name=".mellOnLine.gridClassify.hous.HousChenAty"/>
        <activity android:name=".mellOnLine.gridClassify.hous.HousDetailsChenAty"/>
        <!-- 商品属性选择 -->
        <activity
            android:name=".mellOnLine.gridClassify.GoodsAttributeAty"
            android:theme="@style/share_style"/>
        <!-- 商品评价 -->
        <activity android:name=".mellOnLine.gridClassify.GoodsEvaluateAty"/>
        <!-- 分享 -->
        <activity
            android:name=".mellOnLine.gridClassify.ToShareAty"
            android:theme="@style/share_style"/>
        <!-- 店铺详情 -->
        <activity android:name=".mellOnLine.gridClassify.MellInfoAty"/>
        <!-- 进口馆列表 -->
        <activity android:name=".mellOnLine.gridClassify.GoodsInputHzjAty"/>
        <!-- 进口馆商品详情 -->
        <activity android:name=".mellOnLine.gridClassify.InputGoodsDetailsAty"/>
        <!-- 竞拍 -->
        <activity android:name=".mellOnLine.gridClassify.AuctionCollectAty"/>
        <!-- 竞拍详情 -->
        <activity android:name=".mellOnLine.gridClassify.AuctionGoodsDetailsAty"/>
        <!-- 无界头条 -->
        <activity android:name=".mellOnLine.WujieTopHzjAty"/>
        <!--扫一扫-->
        <activity android:name=".mellOnLine.ScanAty"/>
        <!--设置-->
        <activity android:name=".minetoAty.SetAty"/>
        <!--个人信息-->
        <activity android:name=".minetoAty.EditProfileAty"/>
    </application>

</manifest>